.AdminSidebar-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.span-box {
    width: 70%;
    height: 2.6rem;
    background-color: #961e5052;
    border-radius: 0.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.span-box:hover {
    background-color:#961E51 ;
}
.span-box:focus {
    background-color: #961E51;
}
